openai
langchain~=0.2.0
langchain_community
chromadb
chroma-hnswlib==0.7.3
pytest
boto3
ollama
unstructured
requests~=2.32.2
beautifulsoup4~=4.12.3
PyYAML~=6.0.1
tqdm
pillow
pandas
PyMuPDF
gradio==4.32.2
PyPDF2
dash
tiktoken
